.gid-account {
  width: 24px;
  height: 24px;
  background: url("/images/icons/account.svg");
  background-size: 24px 24px;
}
.gid-account--small {
  width: 16px;
  height: 16px;
  background: url("/images/icons/account.svg");
  background-size: 16px 16px;
}
.gid-account--large {
  width: 36px;
  height: 36px;
  background: url("/images/icons/account.svg");
  background-size: 36px 36px;
}
.gid-airplane {
  width: 24px;
  height: 24px;
  background: url("/images/icons/airplane.svg");
  background-size: 24px 24px;
}
.gid-airplane--small {
  width: 16px;
  height: 16px;
  background: url("/images/icons/airplane.svg");
  background-size: 16px 16px;
}
.gid-airplane--large {
  width: 36px;
  height: 36px;
  background: url("/images/icons/airplane.svg");
  background-size: 36px 36px;
}
.gid-alert-circle-outline {
  width: 24px;
  height: 24px;
  background: url("/images/icons/alert-circle-outline.svg");
  background-size: 24px 24px;
}
.gid-alert-circle-outline--small {
  width: 16px;
  height: 16px;
  background: url("/images/icons/alert-circle-outline.svg");
  background-size: 16px 16px;
}
.gid-alert-circle-outline--large {
  width: 36px;
  height: 36px;
  background: url("/images/icons/alert-circle-outline.svg");
  background-size: 36px 36px;
}
